assignment_1/Datasets/cifar-10-batches-py/
assignment_1/Datasets/cifar-10-python.tar.gz
assignment_2/Datasets/cifar-10-batches-py/
assignment_2/Datasets/cifar-10-python.tar.gz
assignment_3/Datasets/cifar-10-batches-py/
assignment_3/Datasets/cifar-10-python.tar.gz
*.pyc
